* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 20px;
}

window#waybar {
    background: rgba(33, 37, 54, 0.3);
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#custom-menu {
    font-size: 23px;
}

#custom-console {
    font-size: 20px;
    margin-top: 2px;
}

#custom-spacer2 {
    color: rgba(255, 255, 255, 0.3)
}

#battery {
    margin-right: 5px;
}

#tray {
    font-size: 25px;
}

/* workspaces(idk how it works) */

#workspaces{
    background: rgba(23, 23, 23, 0.0);
        color: #ffffff;
        box-shadow: none;
        text-shadow: none;
        border-radius: 9px;
        transition: 0.2s ease;
        padding-left: 0px;
        padding-right: 8px;
        padding-top: 1px;
    }
    
    
    #workspaces button {
    background: rgba(23, 23, 23, 0.0);
        color: #ffffff;
        box-shadow: none;
        text-shadow: none;
        border-radius: 9px;
        transition: 0.2s ease;
        padding-left: 0px;
        padding-right: 8px;
     /*   animation: ws_normal 20s ease-in-out 1; */
    }
    
    
    
    #workspaces button.active {
    
     
      /* background-image: url("/home/anik/Documents/bar1.png");*/
        color: #ffffff;   
        transition: all 0.3s ease;
        padding-left: 0px;
        padding-right: 8px;
      /*  transition: all 0.4s cubic-bezier(.55,0.68,.48,1.682); */
    }
    
    #workspaces button:hover {
        background: none;
        color: #72D792;
        animation: ws_hover 20s ease-in-out 1;
        transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
    }
    

/* hovers */

#custom-menu:hover {
    color: rgb(112, 226, 255);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-console:hover {
    color: rgb(56, 235, 131);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#pulseaudio:hover {
    color: rgb(132, 140, 248);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#cpu:hover {
    color: rgb(206, 122, 245);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#memory:hover {
    color: rgb(233, 107, 107);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery:hover {
    color: rgb(255, 255, 143);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#network:hover {
    color: rgb(182, 126, 255);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-wlogout:hover {
    color: rgb(255, 106, 106);
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}
